# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
.env
*.db
*.sqlite3

# Node
node_modules/
dist/
build/
.npm/
.eslintcache
.pnpm-debug.log*
*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
